.header {
    background-color: #013D5B;
    min-height: 10vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: white;
}